body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffca0c;
    background-color: #37124d;
    margin: 0;
    padding: 0;
}

about{
    width: 100%;
    height: 15px;
    background-color: #13226c;
    display: flex;
    justify-content: end;
}
header{
    width: 100%;
    height: 150px;
    background-color: #13226c;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 500px;
    background-color: #37124d;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #13226c;
    color: #ffca0c;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

#shapeselect{
    background-color: #37124d;
    color: #ffca0c;
    padding: 8px;
    margin: 10px 1;
    border-radius: 10px;
}

input[type=number]{
    background-color: #37124d;
    color: #ffca0c;
    padding: 3px;
    margin: 5px 5;
    border-radius: 5px;
    border-color: #ffca0c;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#showbutton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #37124d;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    color: #ffca0c;
}

#fibo {
    float: left;
    width: 50%;
    background-color: #37124d;
    color: #ffca0c;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

#volume {
    float: right;
    width: 50%;
    background-color: #37124d;
    color: #ffca0c;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 50%;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ffca0c;
    border-radius: 3px;
}

select {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffca0c;
    border-radius: 3px;
}

button {
    background-color: #ffca0c;
    color: #37124d;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ffca0c;
    font-style: oblique;
    font-weight: bolder;
}

#volumeresult, #fibonacciresult {
    font-weight: bolder;
    margin-top: 10px;
}

#calcube, #calcuboid, #calsphere, #calsquarepy {
    display: none;
}

form{
    margin-top: 20px;
    background-color: #37124d;
    color: #ffca0c;
    font-size: 13px;
}

a {
   text-align: center;
    color: #ffca0c;
    font-size: 10px; 
}